<!doctype html>
<html lang="en" data-theme="{{ theme_mode | default(value='auto') }}">
<head>
<meta charset="utf-8">
<title>{% block title %}{{ brand_name | default(value='rustango admin') }}{% endblock title %}</title>
{% include "_theme_tokens.html" %}
{% include "_admin_styles.html" %}
{% if tenant_brand_css %}<style>:root { {{ tenant_brand_css | safe }} }</style>{% endif %}
</head>
<body>
<div class="layout">
  {% include "_sidebar.html" %}
  <main class="content">
{% block body %}{% endblock body %}
  </main>
</div>
</body>
</html>
